#page .hubcoursedescription {line-height: 1.7}

#region-main .hubcoursedescription {line-height: 1.7; text-align: justify; text-justify: newspaper;}

 #region-main .hubcourseresult {
    background:none repeat scroll 0 0;
    clear:both;
    margin:30px auto 0;
    z-index:90;
    width: 95%;
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 0px;
}

 #region-main .hubcoursetitle {
    -webkit-box-shadow: rgba(0, 0, 0, 0.546875) 0px 0px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.546875) 0px 0px 0px;
    background: white;
    left: -15px;
    position: relative;
    z-index: 100;
    border: 0px;
    font-size: 100%;
    margin: 0px;
    outline: 0px;
    padding: 0px;
    vertical-align: baseline;
    font-size: 30px;
    color: #F98012;
    padding-top: 6px;
    padding-bottom: 6px;
    text-shadow: 0px 0px 0px rgba(0,0,0,0.2);
    text-align: left;
    font-style:normal;
    font-weight:normal;
    line-height:1.2em;
    font-size: 140%;
    width: 102%;
    text-indent: 0px;
    z-index: 1;
}

 #region-main .additionaldesc {padding: 13px 5px 5px 0px; font-size: 80%; color:  #999999; font-size: bold;}


#page-site-index .seecreatornotes {color: #F98012;}

a, a:hover, a:visited, a:active {color: #F98012;}

 #region-main .hubcoursedownload {
    display: inline-block;
    padding: 5px 8px 6px;
    color: #000;
    text-decoration: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-box-shadow: 0 0px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0.6);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
    background-color: rgb(255, 242, 224);
    margin-left: 6px;
    font-size: 95%;
}

 #region-main .hubcoursedownload:hover {background-color: rgb(248, 156, 57);}
 
#page-content .region-content .userprofile ul {list-style-type: none;}

